<div class="jumbotron">
  <h1 class="display-4">{{ person.username }}</h1>
  <p class="lead">
    팔로워: {{ person.followers.all|length }}명 | 
    팔로앙: {{ person.followings.all|length }}명
  </p>
  <h3>팔로워 다 나와라</h3>
  {% for follower in person.followers.all %}
    {{ follower.username }}
  {% empty %}
    <p>팔로워가 없어요...</p>
  {% endfor %}
  <hr class="my-4">
  {% if user != photo.user %}
  <a class="btn btn-primary btn-lg" href="{% url 'photos:follow' photo.pk person.pk %}" role="button">
    {% if user in person.followers.all %}
      unfollow
    {% else %}
      follow
    {% endif %}
  </a>
  {% endif %}
</div>