<div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">작성자 : {{ photo.user }}</h5>
        <h5 class="card-title">사진 : {{ photo.photo }}</h5>
        <img src="{{photo.photo.url}}" alt="" width="80" height="80" onclick="{% include 'photos/_modal.html'%}">
        <p class="card-text">
          <a href="{% url 'photos:like' photo.pk %}">
            <!-- 사용자가 좋아요 누른 상태 -> 꽉찬 하트 -->
            <!--- python list in 사용 -->
            {% if request.user in photo.like_users.all%}
              <i class="fas fa-heart"></i>
            <!-- 안 누른 상태 -> 빈 하트-->
            {% else %}
              <i class="far fa-heart"></i>
            {% endif %}
          </a><br>

          {{ photo.like_users.all|length }}명이 좋아합니다.<br>
          생성시각 : {{ photo.created_at }}
          
        </p>
        <a href="{% url 'photos:detail' photo.pk %}" class="btn btn-primary">상세보기</a>
      </div>
    </div>
  </div>