{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block css %}

  <!--<link rel="stylesheet" href="{% static 'stylesheets/hover.css'%}">-->
  <link rel="stylesheet" href="{% static 'stylesheets/mouseover.css'%}">
  <!--<link rel="stylesheet" href="{% static 'stylesheets/background.css'%}">-->

{% endblock css %}

{% block body %}


{% comment %} <h1 class='text-center'>Articles</h1> {% endcomment %}

{% comment %} <a href="{% url 'photos:create' %}">[NEW]</a> {% endcomment %}
{% comment %} <hr> {% endcomment %}


{% comment %} <div class="progress" style="height: 1px;">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress" style="height: 20px;">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div> {% endcomment %}
</br>
<p class='text-center'>게시물     Like    근처</p> 

<div id="portfolio">
  {% for photo in photos %}
    
    {% include 'photos/_photo.html' %}
  {% endfor %}
  <hr>
</div>


<script>
  const image = document.getElementById('my-img')
  image.addEventListener('mouseover', function(){
    
    <h5 class="card-title">작성자 : {{ photo.user }}</h5>
    <h5 class="card-title">사진 : {{ photo.photo }}</h5>

  })

  /* Demo purposes only */
  $(".hover").mouseleave(
    function () {
      $(this).removeClass("hover");
    }
  );

  
</script>

{% endblock %}
